	#containerNgraph {
		height: 620px;
		overflow: hidden;
	}

	#containerAnt {
		height: 620px;
		overflow: hidden;
	}

	#containerEchart {
		height: 620px;
		overflow: hidden;
	}

	canvas {
		height: 100%;
	}
